.minimapWindow {
  width: 114px;
  height: 300px;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
}

.minimapWindow__currentPreview {
  width: 100vw;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 999;
  background-color: red;
  opacity: 0.2;
}

.minimapWindow__preview {
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  transform-origin: left top;
  opacity: 0.5;
}
